# Business Understanding

Precision important bc false positives bad


# Data Understanding

# Data Preparation

In [42]:
# imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import classification_report, confusion_matrix, mean_squared_error
from sklearn.feature_selection import (VarianceThreshold, SelectKBest, f_regression, mutual_info_regression, 
    RFE, RFECV)
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier 
from sklearn.neighbors import KNeighborsClassifier

%matplotlib inline

In [7]:
df_labels = pd.read_csv('data/weather_prediction_bbq_labels.csv')
df_labels.head()

,DATE,BASEL_BBQ_weather,BUDAPEST_BBQ_weather,DE_BBQ_weather,DRESDEN_BBQ_weather,DUSSELDORF_BBQ_weather,HEATHROW_BBQ_weather,KASSEL_BBQ_weather,LJUBLJANA_BBQ_weather,MAASTRICHT_BBQ_weather,MALMO_BBQ_weather,MONTELIMAR_BBQ_weather,MUENCHEN_BBQ_weather,OSLO_BBQ_weather,PERPIGNAN_BBQ_weather,SONNBLICK_BBQ_weather,STOCKHOLM_BBQ_weather,TOURS_BBQ_weather
0,20000101,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,20000102,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,20000103,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,20000104,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,20000105,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [8]:
df = pd.read_csv('data/weather_prediction_dataset.csv')
df.head()

,DATE,MONTH,BASEL_cloud_cover,BASEL_humidity,BASEL_pressure,BASEL_global_radiation,BASEL_precipitation,BASEL_sunshine,BASEL_temp_mean,BASEL_temp_min,...,STOCKHOLM_temp_min,STOCKHOLM_temp_max,TOURS_wind_speed,TOURS_humidity,TOURS_pressure,TOURS_global_radiation,TOURS_precipitation,TOURS_temp_mean,TOURS_temp_min,TOURS_temp_max
0,20000101,1,8,0.89,1.0286,0.20,0.03,0.0,2.9,1.6,...,-9.3,0.7,1.6,0.97,1.0275,0.25,0.04,8.5,7.2,9.8
1,20000102,1,8,0.87,1.0318,0.25,0.00,0.0,3.6,2.7,...,0.5,2.0,2.0,0.99,1.0293,0.17,0.16,7.9,6.6,9.2
2,20000103,1,5,0.81,1.0314,0.50,0.00,3.7,2.2,0.1,...,-1.0,2.8,3.4,0.91,1.0267,0.27,0.00,8.1,6.6,9.6
3,20000104,1,7,0.79,1.0262,0.63,0.35,6.9,3.9,0.5,...,2.5,4.6,4.9,0.95,1.0222,0.11,0.44,8.6,6.4,10.8
4,20000105,1,5,0.90,1.0246,0.51,0.07,3.7,6.0,3.8,...,-1.8,2.9,3.6,0.95,1.0209,0.39,0.04,8.0,6.4,9.5

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3654 entries, 0 to 3653
Columns: 165 entries, DATE to TOURS_temp_max
dtypes: float64(150), int64(15)
memory usage: 4.6 MB

In [10]:
df_labels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3654 entries, 0 to 3653
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   DATE                    3654 non-null   int64
 1   BASEL_BBQ_weather       3654 non-null   bool
 2   BUDAPEST_BBQ_weather    3654 non-null   bool
 3   DE_BBQ_weather          3654 non-null   bool
 4   DRESDEN_BBQ_weather     3654 non-null   bool
 5   DUSSELDORF_BBQ_weather  3654 non-null   bool
 6   HEATHROW_BBQ_weather    3654 non-null   bool
 7   KASSEL_BBQ_weather      3654 non-null   bool
 8   LJUBLJANA_BBQ_weather   3654 non-null   bool
 9   MAASTRICHT_BBQ_weather  3654 non-null   bool
 10  MALMO_BBQ_weather       3654 non-null   bool
 11  MONTELIMAR_BBQ_weather  3654 non-null   bool
 12  MUENCHEN_BBQ_weather    3654 non-null   bool
 13  OSLO_BBQ_weather        3654 non-null   bool
 14  PERPIGNAN_BBQ_weather   3654 non-null   bool
 15  SONNBLICK_BBQ_weather   3654 non-null   bool
 16  STOCKHOLM_BBQ_weather   3654 non-null   bool
 17  TOURS_BBQ_weather       3654 non-null   bool
dtypes: bool(17), int64(1)
memory usage: 89.3 KB

In [12]:
list(df.columns)

['DATE',
 'MONTH',
 'BASEL_cloud_cover',
 'BASEL_humidity',
 'BASEL_pressure',
 'BASEL_global_radiation',
 'BASEL_precipitation',
 'BASEL_sunshine',
 'BASEL_temp_mean',
 'BASEL_temp_min',
 'BASEL_temp_max',
 'BUDAPEST_cloud_cover',
 'BUDAPEST_humidity',
 'BUDAPEST_pressure',
 'BUDAPEST_global_radiation',
 'BUDAPEST_precipitation',
 'BUDAPEST_sunshine',
 'BUDAPEST_temp_mean',
 'BUDAPEST_temp_max',
 'DE_BILT_cloud_cover',
 'DE_BILT_wind_speed',
 'DE_BILT_wind_gust',
 'DE_BILT_humidity',
 'DE_BILT_pressure',
 'DE_BILT_global_radiation',
 'DE_BILT_precipitation',
 'DE_BILT_sunshine',
 'DE_BILT_temp_mean',
 'DE_BILT_temp_min',
 'DE_BILT_temp_max',
 'DRESDEN_cloud_cover',
 'DRESDEN_wind_speed',
 'DRESDEN_wind_gust',
 'DRESDEN_humidity',
 'DRESDEN_global_radiation',
 'DRESDEN_precipitation',
 'DRESDEN_sunshine',
 'DRESDEN_temp_mean',
 'DRESDEN_temp_min',
 'DRESDEN_temp_max',
 'DUSSELDORF_cloud_cover',
 'DUSSELDORF_wind_speed',
 'DUSSELDORF_wind_gust',
 'DUSSELDORF_humidity',
 'DUSSELDORF_pressure',
 'DUSSELDORF_global_radiation',
 'DUSSELDORF_precipitation',
 'DUSSELDORF_sunshine',
 'DUSSELDORF_temp_mean',
 'DUSSELDORF_temp_min',
 'DUSSELDORF_temp_max',
 'HEATHROW_cloud_cover',
 'HEATHROW_humidity',
 'HEATHROW_pressure',
 'HEATHROW_global_radiation',
 'HEATHROW_precipitation',
 'HEATHROW_sunshine',
 'HEATHROW_temp_mean',
 'HEATHROW_temp_min',
 'HEATHROW_temp_max',
 'KASSEL_wind_speed',
 'KASSEL_wind_gust',
 'KASSEL_humidity',
 'KASSEL_pressure',
 'KASSEL_global_radiation',
 'KASSEL_precipitation',
 'KASSEL_sunshine',
 'KASSEL_temp_mean',
 'KASSEL_temp_min',
 'KASSEL_temp_max',
 'LJUBLJANA_cloud_cover',
 'LJUBLJANA_wind_speed',
 'LJUBLJANA_humidity',
 'LJUBLJANA_pressure',
 'LJUBLJANA_global_radiation',
 'LJUBLJANA_precipitation',
 'LJUBLJANA_sunshine',
 'LJUBLJANA_temp_mean',
 'LJUBLJANA_temp_min',
 'LJUBLJANA_temp_max',
 'MAASTRICHT_cloud_cover',
 'MAASTRICHT_wind_speed',
 'MAASTRICHT_wind_gust',
 'MAASTRICHT_humidity',
 'MAASTRICHT_pressure',
 'MAASTRICHT_global_radiation',
 'MAASTRICHT_precipitation',
 'MAASTRICHT_sunshine',
 'MAASTRICHT_temp_mean',
 'MAASTRICHT_temp_min',
 'MAASTRICHT_temp_max',
 'MALMO_wind_speed',
 'MALMO_precipitation',
 'MALMO_temp_mean',
 'MALMO_temp_min',
 'MALMO_temp_max',
 'MONTELIMAR_wind_speed',
 'MONTELIMAR_humidity',
 'MONTELIMAR_pressure',
 'MONTELIMAR_global_radiation',
 'MONTELIMAR_precipitation',
 'MONTELIMAR_temp_mean',
 'MONTELIMAR_temp_min',
 'MONTELIMAR_temp_max',
 'MUENCHEN_cloud_cover',
 'MUENCHEN_wind_speed',
 'MUENCHEN_wind_gust',
 'MUENCHEN_humidity',
 'MUENCHEN_pressure',
 'MUENCHEN_global_radiation',
 'MUENCHEN_precipitation',
 'MUENCHEN_sunshine',
 'MUENCHEN_temp_mean',
 'MUENCHEN_temp_min',
 'MUENCHEN_temp_max',
 'OSLO_cloud_cover',
 'OSLO_wind_speed',
 'OSLO_wind_gust',
 'OSLO_humidity',
 'OSLO_pressure',
 'OSLO_global_radiation',
 'OSLO_precipitation',
 'OSLO_sunshine',
 'OSLO_temp_mean',
 'OSLO_temp_min',
 'OSLO_temp_max',
 'PERPIGNAN_wind_speed',
 'PERPIGNAN_humidity',
 'PERPIGNAN_pressure',
 'PERPIGNAN_global_radiation',
 'PERPIGNAN_precipitation',
 'PERPIGNAN_temp_mean',
 'PERPIGNAN_temp_min',
 'PERPIGNAN_temp_max',
 'ROMA_cloud_cover',
 'ROMA_humidity',
 'ROMA_pressure',
 'ROMA_global_radiation',
 'ROMA_sunshine',
 'ROMA_temp_mean',
 'ROMA_temp_min',
 'ROMA_temp_max',
 'SONNBLICK_cloud_cover',
 'SONNBLICK_humidity',
 'SONNBLICK_global_radiation',
 'SONNBLICK_precipitation',
 'SONNBLICK_sunshine',
 'SONNBLICK_temp_mean',
 'SONNBLICK_temp_min',
 'SONNBLICK_temp_max',
 'STOCKHOLM_cloud_cover',
 'STOCKHOLM_pressure',
 'STOCKHOLM_precipitation',
 'STOCKHOLM_sunshine',
 'STOCKHOLM_temp_mean',
 'STOCKHOLM_temp_min',
 'STOCKHOLM_temp_max',
 'TOURS_wind_speed',
 'TOURS_humidity',
 'TOURS_pressure',
 'TOURS_global_radiation',
 'TOURS_precipitation',
 'TOURS_temp_mean',
 'TOURS_temp_min',
 'TOURS_temp_max']

In [18]:
df_heathrow = df[['DATE', 'MONTH', 'HEATHROW_cloud_cover', 'HEATHROW_humidity', 'HEATHROW_pressure',
                 'HEATHROW_global_radiation', 'HEATHROW_precipitation', 'HEATHROW_sunshine', 'HEATHROW_temp_mean',
                 'HEATHROW_temp_min', 'HEATHROW_temp_max']]

df_heathrow.head()

,DATE,MONTH,HEATHROW_cloud_cover,HEATHROW_humidity,HEATHROW_pressure,HEATHROW_global_radiation,HEATHROW_precipitation,HEATHROW_sunshine,HEATHROW_temp_mean,HEATHROW_temp_min,HEATHROW_temp_max
0,20000101,1,7,0.94,1.0245,0.18,0.00,0.4,7.0,4.9,10.8
1,20000102,1,7,0.89,1.0253,0.20,0.02,0.7,7.9,5.0,11.5
2,20000103,1,8,0.91,1.0186,0.13,0.60,0.0,9.4,7.2,9.5
3,20000104,1,5,0.89,1.0148,0.34,0.02,2.9,7.0,4.4,11.0
4,20000105,1,5,0.85,1.0142,0.25,0.08,1.3,6.4,1.9,10.8

In [19]:
df_heathrow.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3654 entries, 0 to 3653
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   DATE                       3654 non-null   int64
 1   MONTH                      3654 non-null   int64
 2   HEATHROW_cloud_cover       3654 non-null   int64
 3   HEATHROW_humidity          3654 non-null   float64
 4   HEATHROW_pressure          3654 non-null   float64
 5   HEATHROW_global_radiation  3654 non-null   float64
 6   HEATHROW_precipitation     3654 non-null   float64
 7   HEATHROW_sunshine          3654 non-null   float64
 8   HEATHROW_temp_mean         3654 non-null   float64
 9   HEATHROW_temp_min          3654 non-null   float64
 10  HEATHROW_temp_max          3654 non-null   float64
dtypes: float64(8), int64(3)
memory usage: 314.1 KB

In [20]:
df_heathrow.isnull().sum()

DATE                         0
MONTH                        0
HEATHROW_cloud_cover         0
HEATHROW_humidity            0
HEATHROW_pressure            0
HEATHROW_global_radiation    0
HEATHROW_precipitation       0
HEATHROW_sunshine            0
HEATHROW_temp_mean           0
HEATHROW_temp_min            0
HEATHROW_temp_max            0
dtype: int64

In [21]:
df_heathrow.describe()

,DATE,MONTH,HEATHROW_cloud_cover,HEATHROW_humidity,HEATHROW_pressure,HEATHROW_global_radiation,HEATHROW_precipitation,HEATHROW_sunshine,HEATHROW_temp_mean,HEATHROW_temp_min,HEATHROW_temp_max
count,3.654000e+03,3654.000000,3654.000000,3654.000000,3654.000000,3654.000000,3654.000000,3654.000000,3654.000000,3654.000000,3654.000000
mean,2.004568e+07,6.520799,5.272031,0.758358,1.015192,1.196970,0.178279,4.433498,11.822386,8.002737,15.637438
std,2.874287e+04,3.450083,2.011846,0.102410,0.010561,0.881638,0.367572,3.982646,5.610018,5.230449,6.385440
min,2.000010e+07,1.000000,0.000000,0.420000,0.971500,0.120000,0.000000,0.000000,-2.200000,-6.800000,0.200000
25%,2.002070e+07,4.000000,4.000000,0.690000,1.009000,0.430000,0.000000,0.600000,7.600000,4.100000,10.800000
50%,2.004567e+07,7.000000,6.000000,0.760000,1.016000,0.960000,0.020000,3.700000,11.700000,8.250000,15.400000
75%,2.007070e+07,10.000000,7.000000,0.840000,1.022100,1.860000,0.180000,7.200000,16.300000,12.100000,20.500000
max,2.010010e+07,12.000000,8.000000,1.000000,1.043800,3.490000,3.660000,15.500000,29.000000,20.600000,37.900000

In [22]:
df_labels['HEATHROW_BBQ_weather'].value_counts()

False    2785
True      869
Name: HEATHROW_BBQ_weather, dtype: int64

In [34]:
X.shape

(3654, 11)

In [32]:
X = df_heathrow
y = df_labels['HEATHROW_BBQ_weather']

In [33]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, test_size=0.2)

# Modeling

In [36]:
clf = DecisionTreeClassifier(criterion='entropy')

clf.fit(X_train, y_train)

DecisionTreeClassifier(criterion='entropy')

In [38]:
y_preds = clf.predict(X_test)

In [39]:
classification_report(y_test, y_preds)

'              precision    recall  f1-score   support\n\n       False       1.00      1.00      1.00       548\n        True       1.00      1.00      1.00       183\n\n    accuracy                           1.00       731\n   macro avg       1.00      1.00      1.00       731\nweighted avg       1.00      1.00      1.00       731\n'

In [41]:
acc = accuracy_score(y_test,y_preds) * 100
print('Accuracy is :{0}'.format(acc))

Accuracy is :100.0

In [43]:
clf = KNeighborsClassifier()

# Fit the classifier
clf.fit(X_train, y_train)

# Predict on the test set
test_preds = clf.predict(X_test)

C:\Users\lalyn\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

In [44]:
acc = accuracy_score(y_test, test_preds) * 100
print('Accuracy is :{0}'.format(acc))

Accuracy is :85.63611491108071

# Evaluation

# Conclusion